.form-container {
  max-width: 400px;
  border: 1px solid #14586b;
  margin: 0 auto;
  border-radius: 10px;

  h1 {
    font-size: 2rem;
    padding: 10px;
  }

  .field {
    margin: 10% 0;
  }

  input {
    width: 75%;
  }

  button {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #14586b;
    color: #fff;
    cursor: pointer;
    margin: 15%;
    width: 50%;
  }
}
