.nav-header-container {
  // position: fixed; // gotta fix margins on other pages
  width: 100%;
  box-shadow: 0 8px 6px -6px lightgrey;
  padding: 5px 30px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  align-content: center;
  text-align: center;
  z-index: 9999;

  .nav-name a {
    padding: 20px 10px 20px 30px;
    text-decoration: none;
    color: darken($columbia-blue, 20%);
    font-size: 3rem;
    font-weight: bold;
    transition: ease all 1s;
  }

  .nav-links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    animation: text-focus-in 1s both;
    transition: ease all 1s;

    a {
      color: darken($columbia-blue, 20%);
      font-size: 1.1rem;
    }

    a:hover {
      color: darken($columbia-blue, 40%);
    }

    button {
      border-style: none;
      border-radius: 5px;
      border: 1px solid darken($columbia-blue, 20%);
      background-color: transparent;
      font-size: 1rem;
      color: darken($columbia-blue, 20%);
      cursor: pointer;
      outline: none;
    }
  }
}
