@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

$raisin-black: #212227;
$columbia-blue: #c2dfe3;
$main-color: #176681;
$gradient: linear-gradient(to bottom right, #0b8793, #1d2671);
$padding-top-for-navbar: 10rem;

html,
body,
#root,
.App {
  max-width: 1600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #36393f;
}

// form styles
input {
  outline: none;
  padding: 10px 20px;
  border: none;
  background: #f4f7f8;
  margin: 5px auto;
  border-radius: 8px;
}

button {
  outline: none;
}

.form-container {
  max-width: 400px;
  border: 1px solid #14586b;
  margin: 0 auto;
  border-radius: 10px;

  h1 {
    font-size: 2rem;
    padding: 10px;
  }

  input {
    width: 75%;
    margin: 20px 0;
  }

  button {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #14586b;
    color: #fff;
    cursor: pointer;
    margin: 20px 0 30px;
    width: 50%;
  }
}

@import "./components/HeaderNav/HeaderNav.scss";
@import "./pages/EventsList/scenes/EventsList.scss";
@import "./pages/Event/scenes/Event.scss";
@import "./pages/Event/components/ShoppingList/ShoppingList.scss";
